#define IDC_REB1 1004
#define IDC_REB2 1005
#define IDM_ 10001
#define IDM_ 10003
#define IDM_ 10005
#define frmMain 1000
#define txtMain 1001
#define btnMainClose 1002
#define IDC_CHK1 1004
#define IDC_CHK2 1005
#define IDC_CHK3 1006
#define IDC_RBN1 1008
#define IDC_RBN2 1009
#define IDC_RBN3 1010
#define listbox1 1003
#define lv1 1007
#define TreeView1 1011
#define richedit1 1012
#define frameCheckbox 1013
#define frameRadio1 1014
#define FrameRadio2 1015
#define IDC_RBN4 1016
#define IDC_RBN5 1017
#define frmLogin 1002
#define lblUserName 1001
#define txtUserName 1002
#define lblPassword 1005
#define txtPassword 1004
#define btnLoginCancel 1003
#define btnLoginOK 1006
#define lblTop 1007
#define lblTitle 1009
#define lblDescription 1010
#define lblIcon 1008
#define lblError 1011
#define menuMain 10000
#define IDM_Exit 10002
#define IDM_Execute 10004
#define IDM_Help 10006
#define IDM_About 10007

frmMain DIALOGEX 6,6,460,275
CAPTION "frmMain"
FONT 8,"MS Sans Serif",0,0,0
MENU menuMain
STYLE WS_VISIBLE|WS_CLIPSIBLINGS|WS_OVERLAPPEDWINDOW|DS_CENTER|DS_SETFONT|DS_3DLOOK
BEGIN
  CONTROL "",txtMain,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_WANTRETURN|ES_MULTILINE,195,0,255,20,WS_EX_CLIENTEDGE
  CONTROL "Close",btnMainClose,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_DEFPUSHBUTTON,320,220,65,30
  CONTROL "IDC_CHK",IDC_CHK1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,15,15,75,15
  CONTROL "IDC_CHK",IDC_CHK2,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,15,30,75,15
  CONTROL "IDC_CHK",IDC_CHK3,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,15,45,75,15
  CONTROL "IDC_RBN",IDC_RBN1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|WS_TABSTOP|BS_AUTORADIOBUTTON,15,80,75,15
  CONTROL "IDC_RBN",IDC_RBN2,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,15,95,75,15
  CONTROL "IDC_RBN",IDC_RBN3,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,15,110,75,15
  CONTROL "",listbox1,"ListBox",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|LBS_NOINTEGRALHEIGHT|LBS_HASSTRINGS|LBS_NOTIFY,105,0,85,105,WS_EX_CLIENTEDGE
  CONTROL "",lv1,"SysListView32",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|LVS_REPORT,195,25,255,80,WS_EX_CLIENTEDGE
  CONTROL "",TreeView1,"SysTreeView32",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|TVS_FULLROWSELECT|TVS_EDITLABELS|TVS_LINESATROOT|TVS_HASLINES|TVS_HASBUTTONS,105,115,210,90,WS_EX_CLIENTEDGE
  CONTROL "",richedit1,"RichEdit20A",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL|ES_AUTOVSCROLL|ES_MULTILINE,320,115,130,90
  CONTROL "Frame 1",frameCheckbox,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,5,5,90,60
  CONTROL "Frame 2",frameRadio1,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,10,70,90,60
  CONTROL "Frame 3",FrameRadio2,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,5,135,90,60
  CONTROL "IDC_RBN",IDC_RBN4,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|WS_TABSTOP|BS_AUTORADIOBUTTON,15,145,75,15
  CONTROL "IDC_RBN",IDC_RBN5,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,15,160,75,15
END

frmLogin DIALOGEX 66,6,240,135
CAPTION "Login"
FONT 8,"MS Sans Serif",400,0,0
STYLE WS_VISIBLE|WS_CLIPCHILDREN|WS_CAPTION|WS_SYSMENU|WS_MINIMIZEBOX|WS_MAXIMIZEBOX|DS_CENTER|DS_SETFONT|DS_3DLOOK
BEGIN
  CONTROL "User Name",lblUserName,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_RIGHT,5,55,65,10
  CONTROL "",txtUserName,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,75,50,160,15,WS_EX_CLIENTEDGE
  CONTROL "Password",lblPassword,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_RIGHT,5,80,65,10
  CONTROL "",txtPassword,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_PASSWORD,75,75,160,15,WS_EX_CLIENTEDGE
  CONTROL "Cancel",btnLoginCancel,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,120,100,53,25
  CONTROL "OK",btnLoginOK,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_DEFPUSHBUTTON,180,100,53,25
  CONTROL "",lblTop,"Static",WS_CHILDWINDOW|WS_VISIBLE,0,0,195,35
  CONTROL "Login",lblTitle,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_ENDELLIPSIS,5,5,190,10
  CONTROL "Please enter your Username and Password",lblDescription,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_ENDELLIPSIS,15,20,175,10
  CONTROL "",lblIcon,"Static",WS_CHILDWINDOW|WS_VISIBLE,195,0,45,35
  CONTROL "",lblError,"Static",WS_CHILDWINDOW|WS_VISIBLE,15,35,220,15
END

menuMain MENU
BEGIN
  POPUP "File"
  BEGIN
    MENUITEM "Exit",IDM_Exit
  END
  POPUP "Utils"
  BEGIN
    MENUITEM "Execute",IDM_Execute
  END
  POPUP "Help"
  BEGIN
    MENUITEM "Help\tCtrl+F1",IDM_Help,CHECKED,GRAYED,HELP
    MENUITEM "About\tCtrl+A",IDM_About,CHECKED,GRAYED,HELP
  END
END

